<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<p id="notice"><%= notice %></p>

<%= render 'form', post: @new_post %>

<h1>Posts</h1>
<div id="infinite-scroll" >

<div id="posts">
	<div id="post-list">	  
<%= render "post" %>
	</div>
	<div id="pagination-nav"><%= will_paginate @posts%></div>
  </div>
<br>
</div>

<script>


	

window.addEventListener("scroll", (event) => {
	if($(window).scrollTop() + $(window).height()  >= $(document).height()) {
		let next_page= document.querySelector("a[rel='next']")
		if(next_page == null){
			return
		}
		const url= next_page.href
		$.ajax({
			type: 'GET',
			url: url,
			dataType: 'json'
,			success: (data)=> {
				
				document.getElementById("post-list").innerHTML += data.entries;
				document.getElementById("pagination-nav").innerHTML= data.newNav;
			}
		});
		
	}
});
  
	
</script>
